from pathlib import Path
from ${package_dotpath}.messages_pb2 import ${action_name_camel}Request, ${action_name_camel}Response

ACTION_DIR = Path(__file__).parent
TEMPLATES_DIR = ACTION_DIR / "templates"

def handle(msg: ${action_name_camel}Request):
  print(f"Handling {msg}")
  return ${action_name_camel}Response()