edition = "2024";
package ${package_dotpath};

message ${action_name_camel}Request {
  // Define request fields here
}

message ${action_name_camel}Response {
  bool success = 1; // do not change this line
  // Define additional response fields here
}
