edition = "2024";
package ${action_package};

// Define request fields in here
message ${action_camel}Request {
  bool dry_run = 1; // do not change this line
}

// Define response fields in here
message ${action_camel}Response {
  repeated string errors = 1; // do not change this line
}
