from pathlib import Path
from {{action_package}}.messages_pb2 import {{action_camel}}Request, {{action_camel}}Response

ACTION_DIR = Path(__file__).parent
TEMPLATES_DIR = ACTION_DIR / "templates"

def handle(msg: {{action_camel}}Request):
  try:
    raise NotImplementedError(f"{msg.__class__.__name__} handler is not implemented yet.")
  except Exception as e:
    return {{action_camel}}Response(errors=[str(e)])
  return {{action_camel}Response()
