edition = "2024";
package ${action_package};

// Define request fields in here
message ${action_camel}Request {
  bool dry_run = 1; // If true: don't make changes, just report what would be done
}

// Define response fields in here
message ${action_camel}Response {
  repeated string errors = 1; // If empty: action succeeded
}
